# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# App data
cache/
sets/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
